.sprite-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.sprite-image {
    height: 100px;
    width: 100px;
    background: url(CT3rX.png) 0px 0px;
    animation: play 0.8s steps(10) infinite,
        step 10s linear infinite;
    position: absolute;
    left: 0;
}

@keyframes play{
    100%{
        background-position: -1000px;
    }
}

@keyframes step{
    100%{
        left: 100%;
    }
}